# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.cs text diff=csharp eol=crlf
*.csproj text eol=crlf
*.slnx text eol=crlf
*.resx text eol=crlf
*.json text eol=crlf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tcl text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.3dm binary
*.gh binary
